bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
node_modules/
.vscode/
appsettings.json
API/.idea/.idea.FightSchool/.idea/.gitignore
API/.idea/.idea.FightSchool/.idea/.name
API/.idea/.idea.FightSchool/.idea/indexLayout.xml
API/.idea/.idea.FightSchool/.idea/vcs.xml
API/FightSchool/app_database.db
SPA/figthSchool/.env
